body {
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  width: 100vw;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.navbar-brand, #bio-name, h1, .font-main {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

#about, #gallery, #recognition, #contact {
  padding:50px; /*50px*/
  height: 100%;
}

#about, #gallery, #recognition {
  color: white;
}

#home, #about, #gallery, #recognition {
  border-bottom-style: solid;
  border-bottom-color: #B2CCE5;
}

/**** HOME PAGE ***/

#home {
/*  background-image: url(../img/home.jpg); /*height:100%; width: 100%;*/
/*  background-attachment:fixed;
  background-repeat: no-repeat; */
  padding: none;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home.JPG");
  background-repeat: no-repeat;
  background-size: 100vw;
}

/*#home #bgImage {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  margin: none;
  padding: none;
} */

#bio {
/*  margin: 50px 10px 50px 50px;*/
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  top: 400px;
  left: 70%;
  margin-right: 5%;
  border-radius: 25px;
  z-index: 2;

}

#about, #gallery, #recognition {
  background: #121826;
}
/**** ABOUT ****/



/*** GALLERY ***/


#menu {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.center {
  min-height: 12em;
  display: table-cell;
  vertical-align: middle;
}

.preview {
  margin: auto;
  background: #cc99ff;
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.preview {
  border-radius: 6px;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}


.vcenter {
    -webkit-flex: 1;
    flex:1;
    line-height: 300px;
}

.invisible {
  display: none;
}

#twod, #threed, #work {
  background-image: url(../img/menu/preview/2d-thumb.jpg);
  background-repeat: no-repeat;
  background-size: 300px auto;
}

/***RECOGNITION***/


/*** CONTACT ***/

#contact {
  background: #458b00;
  padding-bottom: 100px;
}

/** ABOUT PAGE ***/
#about {
  word-wrap: break-word;
}


/**LINKS**/
a {
  text-decoration: none;
  color: #fff;
}

  nav a, nav a:visited {
    text-decoration: none;
    color: #fff;
  }

  /* selected nav link*/
  nav a.selected, nav a:hover {
    text-decoration: none;
    color: #fff;
  }
