.background-img {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: -1;
}

body {
  margin-top: 50px;
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

#home, #about, #gallery, #contact {
  padding-top: 50px;
}

#home {
  background: #309a9f;
  height: 800px;
}

#about {
  background: #b03060;
  height: 800px;
}

#gallery {
  background: #ff7f00;
  height: 800px;
}

#contact {
  background: #458b00;
  height: 800px;
  text-align: center;
}


/**LINKS**/
a {
  text-decoration: none;
  color: #fff;
}

  nav a, nav a:visited {
    text-decoration: none;
    color: #fff;
  }

  /* selected nav link*/
  nav a.selected, nav a:hover {
    text-decoration: none;
    color: #fff;
  }
